<template>
    <div class="team-content">
        <!-- 搜索 -->
        <div class="border-bottom search-box">
            <input type="text" name="" id="" v-model="searchKey">
            <mt-button size="small" @click="searchQuantity">搜索</mt-button>
        </div>
        <!-- 列表 -->
        <div class="search-list">
            <div class="border-bottom list-item" v-for="(item, index) in teamList" :key="index">
                <div class="item-info">
                    <div class="info-name">{{item.phone}}</div>
                    <div class="info-phone"></div>
                    <div class="info-level">第{{index + 1}}层</div>
                    <div class="info-time">{{item.createDate | parseTime('{y}-{m}-{d} {h}:{i}:{s}')}}</div>
                </div>
                <div class="item-label">
                    <div class="label">自购数量</div>
                    <div class="label">团队人数</div>
                    <div class="label">团队业绩</div>
                    <div class="label">最新业绩日期</div>
                </div>
                <div class="item-number">
                    <div class="number">{{item.deviceQuantity}}</div>
                    <div class="number">{{item.teamCount}}</div>
                    <div class="number-results">{{item.teamAmount}}</div>
                    <div class="number">{{item.teamLastDate}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    naem: 'team',
    data() {
        return {
            searchKey: '',
            teamList: '',
            phone: window.localStorage.getItem('phone'),
        }
    },
    created() {
        this.getMyTeam()
    },
    methods: {
        getMyTeam(key) {
            let param = {
                Phone: this.phone,
                PageIndex: '1',
                PageSize: '10',
                key: key
            }
            this.$post
                .getMyTeam(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.teamList = res.data
                   }
                })
                .catch(() => {})
        },
        searchQuantity(){
            this.getMyTeam(this.searchKey)
        }
    }
}
</script>

<style lang="scss" scoped>
.team-content {
    flex: 1;

    background: #fff;
    overflow-y: auto;
    .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        input[type="text"] {
            width: 80%;
            height: 33px;
            padding: 0 5px;
            font-size: 16px;
            color: #333;
            border: 1PX solid #eee;
            border-radius: 4PX;
        }
    }
    .search-list {
        flex: 1;
        .list-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 8px 10px;
            .item-info {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: #414141;
                line-height: 20px;
                .info-name,.info-phone,.info-level,.info-time {
                    flex: 1;
                }
                // .info-phone {
                //     flex: 1;
                // }
                // .info-level {
                //     flex: 1;
                // }
                // .info-time {
                //     flex: 1;
                // }
            }
            .item-label {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: #bdbdbd;
                line-height: 24px;
                .label {
                    flex: 1;
                }
            }
            .item-number {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: #333;
                line-height: 22px;
                .number {
                    flex: 1;
                }
                .number-results {
                    flex: 1;
                    color: #ff4242;
                }
            }
        }
    }
}
</style>

