<template>
    <div class="exchange-content">
        推广
    </div>
</template>

<script>
export default {
    name: 'exchange',
    data() {
        return {
            
        }
    }
}
</script>
