<template>
    <div class="app-content">
    	<div class="article-cont">
	        <h1>{{articleList.title}}</h1>
	        <h4>{{articleList.author}}   {{articleList.createDate | parseTime('{y}-{m}-{d}')}}</h4>
	        <div class="dd" v-html="articleList.content"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'articledet',
    data() {
        return {
            aId: this.$route.query.id,
            articleList:''
        }
    },
    created() {
        this.getArticleDet()
    },
    methods: {
        getArticleDet() {
            let param = {
                id: this.aId
            }
            this.$post
                .getArticleDet(param)
                .then(res => {
                   if(res.errcode == 0){
                       if(res.errcode == 0){
                            this.articleList = res.data
                        }
                   }
                })
                .catch(() => {})
        }
    }
}
</script>

<style lang="scss" scoped>
.app-content{
    position: relative;
    .article-cont{
    	padding:10px 0 0 0;
    	h1{
    		font-size: 16px;
    		line-height: 30px;
    		overflow: hidden;
    		text-overflow: ellipsis;
    		white-space: nowrap;
    	}
    	h4{
    		font-size: 12px;
    		color: #666666;
    		line-height: 26px;
    	}
    	.dd{
    		font-size: 14px;
    		line-height: 20px;
    		text-align: left;
    		padding: 15px;
    	}
    }
}

</style>