<template>
    <div class="team-content">
        <!-- 列表 -->
        <div class="search-list">
            <div class="border-bottom list-item" v-for="(item, index) in teamList" :key="index">
                <div class="item-info">
                    <div class="info-name">{{item.orderDate | parseTime('{y}-{m}-{d} {h}:{i}:{s}')}}</div>
                    <div class="info-time" @click="goPage('/declaration')">报单</div>
                </div>
                <div class="item-label">
                    <div class="label">手机号</div>
                    <div class="label">盒子</div>
                    <div class="label">金额(QC)</div>
                    <div class="label">CUBI</div>
                </div>
                <div class="item-number">
                    <div class="number">{{item.phone}}</div>
                    <div class="number">1</div>
                    <div class="number-results">{{item.boxPrice.toFixed(2)}}</div>
                    <div class="number">{{item.cubi.toFixed(2)}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    naem: 'team',
    data() {
        return {
            searchKey: '',
            teamList: '',
            phone: window.localStorage.getItem('phone')
        }
    },
    created() {
        this.getMyTeamRecord()
    },
    methods: {
        getMyTeamRecord() {
            let param = {
                Phone: this.phone,
                PageIndex: '1',
                PageSize: '10'
            }
            this.$post
                .getMyTeamRecord(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.teamList = res.data
                   }
                })
                .catch(() => {})
        },
        goPage(url){
        	this.$router.push({
                path: url
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.team-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 55px;
    overflow-y: auto;
    .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        input[type="text"] {
            width: 80%;
            height: 33px;
            padding: 0 5px;
            font-size: 16px;
            color: #333;
            border: 1PX solid #eee;
            border-radius: 4PX;
        }
    }
    .search-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        .list-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 76px;
            padding: 10px 10px 0;
            .item-info {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: #414141;
                .info-name,.info-phone,.info-level,.info-time {
                    flex: 1;
                }
                .info-name{
                    text-align: left;
                }
                .info-time{
                    text-align: right;
                    color: #009966;
                }
                // .info-phone {
                //     flex: 1;
                // }
                // .info-level {
                //     flex: 1;
                // }
                // .info-time {
                //     flex: 1;
                // }
            }
            .item-label {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: #bdbdbd;
                .label {
                    flex: 1;
                }
            }
            .item-number {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: #333;
                .number {
                    flex: 1;
                }
                .number-results {
                    flex: 1;
                    color: #ff4242;
                }
            }
        }
    }
}
</style>

