<template>
    <div class="registered-content" id="declaration">
        <mt-cell title="可用余额">
            <span class="qc-left" v-cloak>{{orderInfo.qcAmount | formatNuber}}</span>
            <span>QC</span>
        </mt-cell>
        <div class="mypush">
            <span>本人直推</span>
            <mt-switch v-model="pushStatus" @change="switchAc">Switch</mt-switch>
        </div>
        <mt-field label="*直推人" type="number" placeholder="请输入直推人手机号" v-model="pusher" :readonly="readonlyStatus"></mt-field>
        <mt-field label="*手机号" type="number" placeholder="请输入手机号" v-model="phone" class="mt10"></mt-field>
        <mt-field label="*设备号" placeholder="请输入设备号" v-model="devId" class="mt10"></mt-field>
        <mt-cell title="*需支付" class="mt10">
            <span class="qc-left" v-cloak>{{orderInfo.boxPrice | formatNuber}}</span>
            <span>QC</span>
        </mt-cell>
        <mt-field label="*登录密码" type="password" placeholder="请输入登录密码" v-model="passW" class="mt10"></mt-field>

        <div class="btn-box">
            <mt-button type="primary" size="large" @click="submitData">提交</mt-button>
        </div>
    </div>
</template>

<script>
import { Toast } from 'mint-ui';
import {
    isPoneAvailable
} from '@/util/util'
export default {
    name: 'registered',
    data() {
        return {
        	userPhone: window.localStorage.getItem('phone'),
            pushStatus: false,
            readonlyStatus: false,
            pusher: '',
            phone: '',
            devId: '',
            passW: '',
            orderInfo: '',
            CreaterPhone: window.localStorage.getItem('phone')
        }
    },
    created() {
        this.getInfoForAddOrder()
    },
    methods: {
        getInfoForAddOrder() {
            let param = {
                Phone: this.userPhone
            }
            this.$post
                .getInfoForAddOrder(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.orderInfo = res.data
                   }
                })
                .catch(() => {})
        },
        switchAc(){
            console.log(this.pushStatus)
            if(this.pushStatus){
                this.pusher = this.CreaterPhone
                this.readonlyStatus = true
            }else{
                this.pusher = ''
                this.readonlyStatus = false
            }
        },
        submitData(){
            let param = {
                CreaterPhone: this.CreaterPhone, // 操作人手机号
                RecommendPhone: this.pushStatus?this.CreaterPhone: this.pusher,  // 直推人手机号
                BuyerPhone: this.phone, // 购买人手机号
                DeviceNo: this.devId, // 设备号
                CreaterPassword: this.passW  // 操作人的登录密码
            }
            console.log(this.pushStatus)
            if(this.pushStatus){
                if(!this.phone){
                    Toast({
                        message: '请输入手机号码',
                        duration: 3000
                    });
                    return false
                }
                if(!isPoneAvailable(this.phone)){
                    Toast({
                        message: '请输入正确的手机号码',
                        duration: 3000
                    });
                    return false
                }
                if(!this.devId){
                    Toast({
                        message: '请输入设备号',
                        duration: 3000
                    });
                    return false
                }
                if(!this.passW){
                    Toast({
                        message: '请输入密码',
                        duration: 3000
                    });
                    return false
                }
            }else{
                if(!this.pusher){
                    Toast({
                        message: '请输入直推人手机号',
                        duration: 3000
                    });
                    return false
                }
                if(!isPoneAvailable(this.pusher)){
                    Toast({
                        message: '请输入正确的直推人手机号码',
                        duration: 3000
                    });
                    return false
                }
                if(!this.phone){
                    Toast({
                        message: '请输入手机号',
                        duration: 3000
                    });
                    return false
                }
                if(!isPoneAvailable(this.phone)){
                    Toast({
                        message: '请输入正确的手机号码',
                        duration: 3000
                    });
                    return false
                }
                if(!this.devId){
                    Toast({
                        message: '请输入设备号',
                        duration: 3000
                    });
                    return false
                }
                if(!this.passW){
                    Toast({
                        message: '请输入密码',
                        duration: 3000
                    });
                    return false
                }
            }
            
            this.$post
                .addOrder(param)
                .then(res => {
                   if(res.errcode == 0){
                        if(res.data == 1){
                   			Toast({
	                            message: '报单成功',
	                            duration: 3000
	                        });
	                        setTimeout(()=>{
				      			this.$router.push({
					              path: '/my'
					          })
				      		},3000)
                   		}else{
                   			Toast({
	                            message: res.data,
	                            duration: 3000
	                        });
                   		}
                   }
                })
                .catch(() => {})
        }
    }
}
</script>

<style>
#declaration .mint-cell-title{
    flex: none;
    width: 80px;
    font-size: 14px !important;
    text-align: left;
    box-flex: initial;
    -webkit-box-flex: initial;
}
#declaration .mint-cell-value{
    font-size: 14px !important;
}
#declaration .mint-switch-label{
    display: none;
}
</style>
<style lang="scss" scoped>
.registered-content {
    .qc-left{
        margin-right: 5px;
        color: #ff0000;
    }
    .mypush{
        font-size: 14px;
        color: #ff0000;
        display: flex;
        padding: 10px;
        line-height: 32px;
        span{
            padding-right: 15px;
        }
    }
    .mt10{
        margin-top: 10px;
    }
    .btn-box{
        padding: 15px;
    }
}
</style>

