<template>
    <div class="app-content" id="exchange">
        <div class="banner">
            <mt-swipe :auto="4000">
                <mt-swipe-item v-for="(item, index) in bannersList" :key="index"><img class="w100" :src="item.pic"></mt-swipe-item>
            </mt-swipe>
        </div>

        <div class="achievement">
            <vue-seamless-scroll :data="advertisings" :class-option="defaultOption">
                <ul class="item">
                    <li v-for="(item,index) in advertisings" :key="index">
                        <span class="title" v-text="item"></span>
                    </li>
                </ul>
            </vue-seamless-scroll>
        </div>  

        <ul class="mes-list">
            <li v-for="(item, index) in articleList" :key="index" @click="goDetail(item.id)">
                <div class="list-img"><img :src="item.pic"></div>
                <div class="list-txt">
                    <h4>{{item.title}}</h4>
                    <p>{{item.author}}  {{item.createDate | parseTime('{y}-{m}-{d}')}}</p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import vueSeamlessScroll from 'vue-seamless-scroll'
export default {
    name: 'exchange',
    components: {
        vueSeamlessScroll
    },
    computed: {
        defaultOption () {
            return {
                step: 1, //步长 越大滚动速度越快
                limitMoveNum: 2, //启动无缝滚动最小数据量 this.dataList.length
                hoverStop: true, //是否启用鼠标hover控制
                direction: 1, //1 往上 0 往下
                openWatch: true, //开启data实时监听
                singleHeight: 40, //单条数据高度有值hoverStop关闭
                waitTime: 3000 //单步停止等待时间
            }
        },
    },
    data() {
        return {
            advertisings: [],
            bannersList: [],
            articleList: []
        }
    },
    created() {
        this.getHomeInfo()
        this.getArticleList()
    },
    methods: {
        getHomeInfo() {
            let param = {}
            this.$post
                .getHomeInfo(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.advertisings = res.data.advertisings
                       this.bannersList = res.data.banners
                   }
                })
                .catch(() => {})
        },
        getArticleList() {
            let param = {
                PageIndex: '1',
                PageSize: '10'
            }
            this.$post
                .getArticleList(param)
                .then(res => {
                   if(res.errcode == 0){
                       if(res.errcode == 0){
                            this.articleList = res.data
                        }
                   }
                })
                .catch(() => {})
        },
        goDetail(id){
        	this.$router.push({
                path: '/articledet',
                query: {
                    id: id
                }
            })
        }
    }
}
</script>

<style>
#exchange .mint-swipe-indicators{
    bottom: 0 !important;
}
#exchange .mint-swipe-indicators .mint-swipe-indicator{
    width: 5px;
    height: 5px;
}
</style>

<style lang="scss" scoped>
.app-content{
    position: relative;
    .banner{
        height: 150px;
        .w100{
            width:100%;
        }
    }
    .mt10{
        margin-top: 10px;
    }
    .achievement{
        background: #ffffff;
        color: #999999;
        font-size: 14px;
        height: 40px;
        overflow: hidden;
        li{
            line-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .mes-list{
        margin-top: 10px;
        padding: 10px;
        background: #ffffff;
        li{
            text-align: left;
            height: 80px;
            .list-img{
                width: 90px;
                flex-shrink: 0;
                float:left;
                img{
                    width: 100%
                }
            }
            .list-txt{
                margin-left: 105px;
            }
            h4{
            	width: 100%;
            	box-sizing: border-box;
                font-size: 14px;
                height: 44px;
                line-height: 22px;
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p{
                font-size: 12px;
                color: #999999;
                line-height: 20px;
                padding-top: 2px;
            }
        }
    }
    
}
</style>