<template>
    <div class="app-content" id="container">
        <mt-navbar v-model="selected">
            <mt-tab-item id="1">会员专享</mt-tab-item>
            <mt-tab-item id="2">特别奖励</mt-tab-item>
            <mt-tab-item id="3">卡贝精品</mt-tab-item>
            <mt-tab-item id="4">限量抢购</mt-tab-item>
        </mt-navbar>
       <ul class="shop">
            <li v-for="(item, index) in dataList" :key='index' @click="goPage(item)">
                <div class="bg-white">
                    <div class="pro-img"><img :key="item.id" v-lazy.container="item.pic"></div>
                    <div class="prod-right">
                        <div class="title">{{item.title}}</div>
                        <div class="price">
                            <div class="p-left"><span>{{item.qc}}QC</span>+{{item.ep}}积分  <i> ￥{{item.oldPrice.toFixed(2)}}</i></div>
                        </div>
                        <div class="less-box">
                            <div class="p-left">剩余{{item.quantity}}</div>
                        </div>
                    </div>
                    <!-- <mt-button type="primary" size="small" class="ex-btn" @click="goPage(item)">兑换</mt-button> -->
                </div>
            </li>
            
        </ul>
    </div>
</template>

<script>
import { Toast } from 'mint-ui'
export default {
    name: 'exchange',
    data() {
        return {
            dataList: [],
            phone: window.localStorage.getItem('phone'),
            selected: '1'
        }
    },
    watch:{
        selected(val){
            let type = Number(val)
           this.getDataList(type)
        }
    },
    methods: {
        init() {
            this.getDataList(1)
        },
        getDataList(type) {
            let param = {
                PageIndex: 1,
                PageSize: 10,
                Category: type
            }
            this.$post.getProductList(param).then(res => {
                this.dataList = res.data
            })
        },
        goPage(item) {
            let param = {
                Phone: this.phone
            }
            this.$post.getUserInfo(param).then(res => {
                if (res.data.myFinance.qc < item.qc) {
                    Toast({
                        message: 'QC不足',
                        position: 'bottom',
                        duration: 5000
                    })
                } else if (res.data.myFinance.ep < item.ep) {
                    Toast({
                        message: '积分不足',
                        position: 'bottom',
                        duration: 5000
                    })
                } else {
                    this.$router.push({
                        path: '/exchange',
                        query: {
                            id: item.id
                        }
                    })
                }
            })
        }
    },
    created() {
        this.init()
    }
}
</script>

<style lang="scss" scoped>
.app-content{
    position: relative;
    .shop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 10px;
        margin-bottom: 10px;
        li{
            padding: 5px 0 5px 10px;
            box-sizing: border-box;
            text-align: left;
            img{
                width: 100%;
            }
        }
        .ex-btn{
            margin: 5px 0 5px 5px;
        }
        .bg-white{
            background: #ffffff;
            overflow: hidden;
            display: flex;
        }
        .pro-img{
            width: 120px;
            height: 120px;
            overflow: hidden;
            img{
                width: 100%
            }
        }
        .prod-right{
            flex: 1;
            padding-left: 15px;
        }
        .title{
            font-size: 15px;
            line-height: 24px;
            height: 48px;
            padding: 5px 5px 0;
        }
        .price{
            font-size: 13px;
            color: #999999;
            line-height: 20px;
            padding:10px 5px;
            display: flex;
            justify-content: space-between;
            span{
                color: #ff6600;
            }
            i{
                text-decoration: line-through;
                padding-left: 15px;
            }
        }
        .less-box{
            font-size: 13px;
            color: #999999;
            line-height: 20px;
            padding-left: 5px;
        }
    }
}

</style>