<template>
    <div class="runningwater-content">
        <div class="runningwater-list">
            <div class="list-item" v-for="(item, index) in dataList" :key="index">
                <div class="time">{{item.createDate | parseTime}}</div>
                <div class="amount">{{item.amount}}</div>
                <div class="channel">{{item.currency}}</div>
                <div class="type">{{item.operationType}}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'runningwater',
    data() {
        return {
            dataList: [],
            phone: window.localStorage.getItem('phone')
        }
    },
    methods: {
        init() {
            this.getDataList()
        },
        getDataList() {
            let param = {
                Phone: this.phone,
                PageIndex: 1,
                PageSize: 10
            }
            this.$post.getMyFinanceRecord(param).then(res => {
                this.dataList = res.data
            })
        }
    },
    created() {
        this.init()
    }
}
</script>

<style lang="scss" scoped>
.runningwater-content {
    flex: 1;
    background: #f2f2f2;
    .runningwater-list {
        padding: 10px 0;
        .list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            background: #fff;
            padding: 0 10px;
            font-size: 12px;
            color: #666;
            .time {
                flex: 1;
            }
            .amount {
                flex: 1;
                color: #ff0404;
            }
            .channel {
                flex: 1;                
            }
            .type {
                flex: 1;
                color: #91c891;
            }
        }
    }
}
</style>


