<template>
    <div class="app-content" id="profit">
        <mt-cell title="可用余额">
            <span class="qc-left" v-cloak>{{totalInfo.cubi | formatNuber}}</span>
            <span>CUBI</span>
        </mt-cell>
        <mt-cell title="卖出价(QC)" class="mt10">
            <span class="qc-left" v-cloak>{{totalInfo.price | formatNuber}}</span>
            <span>QC</span>
        </mt-cell>
        <mt-field label="卖出数量" placeholder="请输入卖出数量" v-model="outPutMoney" class="mt10"></mt-field>
        <div class="money-txt border-top">*最小交易量：{{totalInfo.miniQuantity}}</div>

        <mt-cell title="手续费" class="mt10">
            <span class="qc-left" v-cloak>{{totalInfo.fee | formatNuber}}</span>
            <span>QC</span>
        </mt-cell>
        <div class="money-txt border-top">*手续费从余额中扣除</div>

        <mt-field label="登录密码" type="password" placeholder="请输入您的登录密码" v-model="passW" class="mt10"></mt-field>
        <div class="btn-box">
            <mt-button type="primary" size="large" @click="getProfit">卖出</mt-button>
        </div>

        <div class="mesg">
            <div class="red-title">*请确保提现地址正确！</div>
        </div>

        <div class="recorde">
            <div class="title border-bottom">提现记录</div>
            <div class="item border-bottom" v-for="(item, index) in totalInfo.records" :key="index">
                <div class="line">
                    <span><i>卖出</i>{{item.createDate | parseTime}}</span>
                    <em><i v-if="item.status == 0" @click="cancelDeal(item.id)">取消</i>{{item.status | statusCheck}}</em>
                </div>
                <div class="tab">
                    <div class="td">
                        <h4>数量CUBI</h4>
                        <p>{{item.cubi | formatNuber}}QC</p>
                    </div>
                    <div class="td">
                        <h4>单价QC</h4>
                        <p>{{item.price | formatNuber}}QC</p>
                    </div>
                    <div class="td">
                        <h4>手续费CUBI</h4>
                        <p>{{item.fee | formatNuber}}QC</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Toast } from 'mint-ui';
import { MessageBox } from 'mint-ui';
export default {
    data() {
        return {
            phone: window.localStorage.getItem('phone'),
            outPutMoney:'',
            passW: '',
            totalInfo: '',
            epVal: '',  // 积分
            qcVal: '',   // QC
            cashAddress: ''
        }
    },
    created() {
        this.InfoForExchange()
    },
    watch: {
        outPutMoney(val) {
            if(Number(val) >= 1000){
                this.epVal = Number(val)*(1 - this.totalInfo.qcPercent)
                this.qcVal = Number(val)*this.totalInfo.qcPercent
            }else{
                this.epVal = ''
                this.qcVal = ''
            }
        }
    },
    methods: {
        InfoForExchange() {
            let param = {
                Phone: this.phone
            }
            this.$post
                .InfoForExchange(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.totalInfo = res.data
                   }
                })
                .catch(() => {})
        },
        getProfit(){
            let param = {
                Phone: this.phone, // 手机号
                Amount: this.outPutMoney, // 提现金额
                Password: this.passW  // 操作人的登录密码
            }
            if(param.Amount < this.totalInfo.miniQuantity){
                Toast({
                    message: '卖出数量不能低于最小交易量',
                    duration: 3000
                });
                return false;
            }
            if(!param.Password){
                Toast({
                    message: '请输入密码',
                    duration: 3000
                });
                return false;
            }
            this.$post
                .doDeal(param)
                .then(res => {
                   if(res.data == 1){
                        Toast({
                            message: '提现成功，请注意查收',
                            duration: 3000
                        });
                        this.outPutMoney = ''
                        this.passW = ''
                   }else{
                       Toast({
                            message: res.data,
                            duration: 3000
                        });
                   }
                   this.InfoForExchange()
                })
                .catch(() => {})
        },
        cancelDeal(id){
            MessageBox.prompt('如您确定取消，请输入登录密码').then(({ value, action }) => {                
                return value
            })
            .then(res => {
                if (res) {
                    let param = {
                        Id: id,
                        Password: res
                    }
                    this.$post
                        .cancelDeal(param)
                        .then(res => {
                        if(res.data == 1){
                                Toast({
                                    message: '取消成功',
                                    duration: 3000
                                });
                                this.outPutMoney = ''
                                this.passW = ''
                        }else{
                            Toast({
                                    message: res.data,
                                    duration: 3000
                                });
                        }
                        this.InfoForExchange()
                        })
                        .catch(() => {})
                }else{
                    Toast({
                        message: '请输入密码',
                        duration: 3000
                    });
                }
            })
        }
    }
}
</script>

<style>
#profit .mint-cell-wrapper{
    background: none;
}
#profit .mint-cell-title{
    flex: none;
    width: 80px;
    font-size: 14px !important;
    text-align: left;
    box-flex: initial;
    -webkit-box-flex: initial;
}
#profit .mint-field-core{
    font-size: 14px !important;
    text-align: right;
}
#profit .mint-button.green-btn{
    background: #009966;
}
#profit .mint-cell-value{
    font-size: 14px !important;
    flex: 1;
    justify-content: flex-end
}
</style>

<style lang="scss" scoped>
.app-content{
    .qc-left{
        margin-right: 5px;
        color: #ff0000;
    }
    .mt10{
        margin-top: 10px;
    }
    .money-txt{
        background: #ffffff;
        font-size: 12px;
        text-align: right;
        line-height: 30px;
        padding: 0 15px;
        color: #999999;
        span{
            color: #ff1a1a;
        }
    }
    .btn-box{
        padding: 15px;
    }
    .mesg{
        font-size: 14px;
        text-align: left;
        padding: 0 10px 10px;
        .red-title{
            color: #ff1a1a;
            line-height: 30px;
        }
        p{
            color: #656565;
            line-height: 20px;
        }
    }
    .recorde{
        background: #ffffff;
        .title{
            font-size: 16px;
            color: #656565;
            line-height: 36px;
            padding: 0 10px;
            text-align: left;
        }
        .item{
            padding-bottom: 6px;
        }
        .line{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding: 0 10px;
            line-height: 30px;
            em{
                color: #ff1a1a;
            }
            i{
                color: #009966;
                padding-right: 10px
            }
        }
        .tab{
            display: flex;
            font-size: 14px; 
            line-height: 24px;
            .td{
                flex: 1;
                h4{
                    color:#999999;
                }

            }
        }
    }
}
</style>
