<template>
    <div class="app-content" id="profit">
        <mt-cell title="可用余额">
            <span class="qc-left" v-cloak>{{totalInfo.balance | formatNuber}}</span>
            <span>QC</span>
        </mt-cell>
        <mt-field label="提现金额" placeholder="请输入提现金额，最低是1000.00QC" v-model="outPutMoney" class="mt10"></mt-field>
        <div class="money-txt border-top">*<span>{{epVal | formatNuber}}QC</span>转积分，<span>{{qcVal | formatNuber}}QC</span>转余额，<span>{{totalInfo.boxPrice | formatNuber}}用于复投</span></div>

        <mt-cell title="手续费">
            <span class="qc-left" v-cloak>{{totalInfo.fee | formatNuber}}</span>
            <span>QC</span>
        </mt-cell>
        <div class="money-txt border-top">*手续费从余额中扣除</div>

        <mt-field label="登录密码" type="password" placeholder="请输入您的登录密码" v-model="passW" class="mt10"></mt-field>
        <div class="btn-box">
            <mt-button type="primary" size="large" @click="getProfit">提现</mt-button>
        </div>

        <div class="mesg">
            <div class="red-title">*提现说明</div>
            <p>
                1.提现金额的30%兑换成积分并且转入积分账户；<br>

                2.提现金额的70%提现到总账户余额；<br>

                3.若提现金额的70%高于资产包4186则需扣除复投金额后提现到余额账户；<br>

                3.若提现金额的70%高于资产包4186且不进行复投则不再享受新增动态收益；<br>

                4.不再享受新增动态收益一个月内可找客服复投并且回复享受收益，超出一个月未复投的动态收益账户永久冻结；<br>
            </p>
        </div>

        <div class="recorde">
            <div class="title border-bottom">提现记录</div>
            <div class="item border-bottom" v-for="(item, index) in totalInfo.records" :key="index">
                <div class="line">
                    <span>{{item.createDate | parseTime}}</span>
                    <em>{{item.status | statusCheck}}</em>
                </div>
                <div class="tab">
                    <div class="td">
                        <h4>转积分</h4>
                        <p>{{item.ep | formatNuber}}QC</p>
                    </div>
                    <div class="td">
                        <h4>转总账户</h4>
                        <p>{{item.qc | formatNuber}}QC</p>
                    </div>
                    <div class="td">
                        <h4>复投消耗</h4>
                        <p>{{item.reBuy | formatNuber}}QC</p>
                    </div>
                    <div class="td">
                        <h4>手续费</h4>
                        <p>{{item.fee | formatNuber}}QC</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Toast } from 'mint-ui';
export default {
    data() {
        return {
            phone: window.localStorage.getItem('phone'),
            outPutMoney:'',
            passW: '',
            totalInfo: '',
            epVal: '',  // 积分
            qcVal: ''   // QC
        }
    },
    created() {
        this.getDynamictoTotalInfo()
    },
    watch: {
        outPutMoney(val) {
            if(Number(val) >= 1000){
                this.epVal = Number(val)*(1 - this.totalInfo.qcPercent)
                this.qcVal = Number(val)*this.totalInfo.qcPercent
            }else{
                this.epVal = ''
                this.qcVal = ''
            }
        }
    },
    methods: {
        getDynamictoTotalInfo() {
            let param = {
                Phone: this.phone
            }
            this.$post
                .getDynamictoTotalInfo(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.totalInfo = res.data
                   }
                })
                .catch(() => {})
        },
        getProfit(){
            let param = {
                Phone: this.phone, // 手机号
                Amount: this.outPutMoney, // 提现金额
                Password: this.passW  // 操作人的登录密码
            }
            if(param.Amount < 1000){
                Toast({
                    message: '提现金额不低于1000',
                    duration: 3000
                });
                return false;
            }
            if(!param.Password){
                Toast({
                    message: '请输入密码',
                    duration: 3000
                });
                return false;
            }
            this.$post
                .doDynamicToTotal(param)
                .then(res => {
                   if(res.data == 1){
                        Toast({
                            message: '提现成功，请注意查收',
                            duration: 3000
                        });
                   }else{
                       Toast({
                            message: res.data,
                            duration: 3000
                        });
                   }
                   this.getDynamictoTotalInfo()
                })
                .catch(() => {})
        }
    }
}
</script>

<style>
#profit .mint-cell-wrapper{
    background: none;
}
#profit .mint-cell-title{
    flex: none;
    width: 80px;
    font-size: 14px !important;
    text-align: left;
    box-flex: initial;
    -webkit-box-flex: initial;
}
#profit .mint-field-core{
    font-size: 14px !important;
}
#profit .mint-button.green-btn{
    background: #009966;
}
#profit .mint-cell-value{
    font-size: 14px !important;
}
</style>

<style lang="scss" scoped>
.app-content{
    .qc-left{
        margin-right: 5px;
        color: #ff0000;
    }
    .mt10{
        margin-top: 10px;
    }
    .money-txt{
        background: #ffffff;
        font-size: 12px;
        text-align: left;
        line-height: 30px;
        padding: 0 15px;
        color: #999999;
        span{
            color: #ff1a1a;
        }
    }
    .btn-box{
        padding: 15px;
    }
    .mesg{
        font-size: 14px;
        text-align: left;
        padding: 0 10px 10px;
        .red-title{
            color: #ff1a1a;
            line-height: 30px;
        }
        p{
            color: #656565;
            line-height: 20px;
        }
    }
    .recorde{
        background: #ffffff;
        .title{
            font-size: 16px;
            color: #656565;
            line-height: 36px;
            padding: 0 10px;
            text-align: left;
        }
        .item{
            padding-bottom: 6px;
        }
        .line{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding: 0 10px;
            line-height: 30px;
            em{
                color: #ff1a1a;
            }
        }
        .tab{
            display: flex;
            font-size: 14px; 
            line-height: 24px;
            .td{
                flex: 1;
                h4{
                    color:#999999;
                }

            }
        }
    }
}
</style>
