<template>
  <div
    class="app-content"
    id="exchange"
  >
    <div class="banner">
      <img
            class="w100"
            :src="productData.pic"
          >
    </div>

    <mt-cell
      title="商品名称"
      :value="productData.title"
      class="mt10"
    ></mt-cell>
    <mt-cell
      title="商品价格"
      :value="productData.ep + '积分'"
      class="mt10"
    ></mt-cell>
    <mt-field
      label="兑换数量"
      placeholder="请输入数量"
      v-model="Contact"
      class="mt10"
      type="number"
    ></mt-field>
    <!-- <mt-field label="收货人" placeholder="请输入收货人" v-model="outPutMoney" class="mt10"></mt-field> -->
    <mt-field
      label="联系电话"
      placeholder="请输入联系电话"
      v-model="ContactPhone"
      class="mt10"
      type="tel"
    ></mt-field>
    <mt-field
      label="收货地址"
      placeholder="请输入收货地址"
      v-model="ContactAddress"
      class="mt10"
    ></mt-field>

    <div class="bottom-layer border-top">
      <div class="txt">{{Contact ? sumQC + 'QC' + '+' + sumEq + '积分' : ''}}</div>
      <div class="btn" @click="exchange">兑换</div>
    </div>
  </div>
</template>

<script>
import { Toast } from "mint-ui";
import { MessageBox } from 'mint-ui';
export default {
  name: "exchange",
  data() {
    return {
    	phone: window.localStorage.getItem('phone'),
      id: this.$route.query.id,
      Contact: "",
      ContactPhone: "",
      ContactAddress: "",
      productData: {},
      myFinance: {}
    };
  },
  computed: {
    sumQC() {
      if (this.productData.qc) {
        return this.productData.qc * this.Contact;
      } else {
        return "";
      }
    },
    sumEq() {
      if (this.productData.ep) {
        return this.productData.ep * this.Contact;
      } else {
        return "";
      }
    }
  },
  methods: {
    getData() {
      let param = {
        id: this.id
      };
      this.$post.getProduct(param).then(res => {
        this.productData = res.data;
      });
    },
    exchange() {
    	if (!this.Contact) {
		        Toast({
		          message: "请填写兑换数量",
		          position: "bottom",
		          duration: 3000
		        });
		        return
		      }
      if (!this.ContactPhone) {
        Toast({
          message: "请填写联系电话",
          position: "bottom",
          duration: 3000
        });
        return
      }
      if (!this.ContactAddress) {
        Toast({
          message: "请填写收货地址",
          position: "bottom",
          duration: 3000
        });
        return
      }

      if (this.myFinance.qc < this.sumQC) {
        Toast({
          message: "QC不足",
          position: "bottom",
          duration: 3000
        });
        return
      }
      if (this.myFinance.ep < this.sumEq) {
        Toast({
          message: "积分不足",
          position: "bottom",
          duration: 3000
        });
        return
      }
    	MessageBox.prompt('如您确定兑换，请输入登录密码').then(({ value, action }) => {                
	        return value
	    })
    	.then(res => {
    		if (res) {
		      let param = {
		        id:this.id,
		        Phone: this.phone,
		        Password: res,
		        Contact: this.Contact,
		        ContactPhone: this.ContactPhone,
		        ContactAddress: this.ContactAddress
		      };
		      this.$post.createdOrder(param).then(res => {
			      	if(res.data == 1){
			      		Toast({
				          message: "兑换成功",
				          position: "bottom",
				          duration: 3000
				        });
				        setTimeout(()=>{
			      			this.$router.push({
				              path: '/shop'
				          })
			      		},3000)
			      	}else{
			      		Toast({
				          message: res.data,
				          position: "bottom",
				          duration: 3000
				        });
			      	}
		      });
    		}else{
            Toast({
                message: '请输入密码',
                duration: 3000
            });
        }
    	})
    },
    getUser() {
      let param = {
        Phone: this.phone
      }
      this.$post.getUserInfo(param).then(res => {
          this.myFinance = res.data.myFinance
      })
    }
  },
  created() {
    this.getUser();
    this.getData();
  }
};
</script>
<style>
#exchange .mint-cell-title {
  flex: none;
  width: 80px;
  font-size: 14px !important;
  text-align: left;
  box-flex: initial;
  -webkit-box-flex: initial;
}
</style>

<style lang="scss" scoped>
.app-content {
  position: relative;
  .banner {
    .w100 {
      width: 100%;
    }
  }
  .mt10 {
    margin-top: 10px;
  }
  .bottom-layer {
    position: fixed;
    height: 46px;
    line-height: 46px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #ffffff;
    .btn {
      background: #26a2ff;
      color: #ffffff;
      font-size: 16px;
      width: 120px;
    }
    .txt {
      font-size: 14px;
      flex: 1;
    }
  }
}
</style>