<template>
  <div id="app">
    <mt-header :title="title" v-if="topShow">
        <router-link to="" slot="left">
            <mt-button icon="back" @click="goBack"></mt-button>
        </router-link>
    </mt-header>
    <router-view/>
    <mt-tabbar v-model="selected" v-if="bottomShow">
        <mt-tab-item id="1">
            <img slot="icon" :src="selected==1?homeOn:home">
            首页
        </mt-tab-item>
        <mt-tab-item id="2">
            <img slot="icon" :src="selected==2?shopOn:shop">
            商城
        </mt-tab-item>
        <mt-tab-item id="3">
            <img slot="icon" :src="selected==3?myOn:my">
            我的
        </mt-tab-item>
    </mt-tabbar>
  </div>
</template>

<script>
import {
    getQueryString
} from '@/util/util'
export default {
    data() {
        return {
            title:'卡贝',
            home:require('@/assets/img/home.png'),
            shop:require('@/assets/img/shop.png'),
            my:require('@/assets/img/my.png'),
            homeOn:require('@/assets/img/home-on.png'),
            shopOn:require('@/assets/img/shop-on.png'),
            myOn:require('@/assets/img/my-on.png'),
            selected: '1',
            bottomShow:false,
            topShow:false
        }
    },
    created() {
        let phone = getQueryString('Phone') || getQueryString('phone')
        console.log(phone)
        window.localStorage.setItem('phone',phone)
    },
    mounted() {
       this.setTitle(location.hash) 
    },
    methods: {
        tabChange(){
            console.log(this.selected)
        },
        goBack() {
            console.log(location.hash)
            if(location.hash != '#/'){
                 window.history.go(-1)
            }
        },
        setTitle(path) {
        	console.log(path)
            switch (path) {
            		case '#/':
                    this.title = '卡贝销售系统'
                    this.bottomShow = true
                    this.topShow = false
                    this.selected = '1'
                    break
                case '/':
                    this.title = '卡贝销售系统'
                    this.bottomShow = true
                    this.topShow = false
                    this.selected = '1'
                    break
                case '/runningwater':
                    this.title = '我的流水'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/team':
                    this.title = '我的团队'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/teamrecord':
                    this.title = '团队记录'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/c2ccashe':
                    this.title = 'C2C交易'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/exchange':
                    this.title = '兑换'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/shop':
                    this.title = '商城'
                    this.bottomShow = true
                    this.topShow = false
                    this.selected = '2'
                    break
                case '/my':
                    this.title = '我的'
                    this.bottomShow = true
                    this.topShow = false
                    this.selected = '3'
                    break
                case '/declaration':
                    this.title = '报单'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/qccash':
                    this.title = 'QC提现'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/c2ccashe':
                    this.title = 'C2C提现'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/profit':
                    this.title = '动态收益'
                    this.bottomShow = false
                    this.topShow = true
                    break
                case '/articledet':
                    this.title = '文章详情'
                    this.bottomShow = false
                    this.topShow = true
                    break
            }
            
        }
    },
    watch: {
        $route (to) {
            this.setTitle(to.path)
        },
        selected(val) {
            if(val == 1){
                this.$router.push({
                    path: '/'
                })
            }
            if(val == 2){
                this.$router.push({
                    path: '/shop'
                })
            }
            if(val == 3){
                this.$router.push({
                    path: '/my'
                })
            }
        }
    }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}
img{
	max-width: 100%;
}
.mint-tab-item{
    color: #656565;
}
.app-content{
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 55px;
}
[v-cloak] {
   display: none;
}
/*全局样式*/
::-webkit-input-placeholder {
    color: #c9c9c9;
}
::-moz-placeholder {
    color: #c9c9c9;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #c9c9c9;
}
/* ie */
input:-moz-placeholder {
    color: #c9c9c9;
}
</style>
