<template>
    <div class="declaration-content">
        <!-- 切换栏 -->
        <div class="table-label">
            <div class="label-registered" :class="type === 'registered' ? 'active' : ''" @click="changeTab('registered')">首次报单</div>
            <div class="label-taxationform" :class="type === 'taxationform' ? 'active' : ''" @click="changeTab('taxationform')">复投报单</div>
        </div>
        <!-- 内容 -->
        <component :is="componentId"></component>
    </div>
</template>

<script>
import taxationform from './component/taxationform.vue'
import registered from './component/registered.vue'

export default {
    name: 'declaration',
    components: {
        taxationform,
        registered
    },
    data() {
        return {
            type: 'registered',
            componentId: 'registered'
        }
    },
    methods: {
        changeTab(type) {
            this.type = type
            this.componentId = type
        }
    }
}
</script>

<style lang="scss" scoped>
.declaration-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    .table-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        font-size: 15px;
        font-weight: bold;
        color: #666;
        .label-registered {
            margin-right: 30px;
        }
        .active {
            color: #ff0000;
        }
    }
}
</style>
