<template>
    <div class="app-content">
        <div class="banner">
            <div class="head"></div>
            <div class="name">
                <h4>卡贝用户</h4>
                <p>{{userInfo.phone}}</p>
            </div>
        </div>
        <div class="page-info">
            <div class="info-line">
                <div class="item">
                    <div class="ico red">QC</div>
                    <div class="info-txt">
                        <h3 v-if="userInfo && userInfo.myFinance && userInfo.myFinance.qc !== ''">{{userInfo.myFinance.qc | formatNuber}}</h3>
                        <p v-if="userInfo && userInfo.myFinance && userInfo.myFinance.qC_Freeze !== ''">{{userInfo.myFinance.qC_Freeze | formatNuber}}冻结</p>
                    </div>
                </div>
                <div class="item">
                    <div class="ico green">CUBI</div>
                    <div class="info-txt">
                        <h3 v-if="userInfo && userInfo.myFinance && userInfo.myFinance.cubi !== ''">{{userInfo.myFinance.cubi | formatNuber}}</h3>
                        <p v-if="userInfo && userInfo.myFinance && userInfo.myFinance.cubI_Freeze !== ''">{{userInfo.myFinance.cubI_Freeze | formatNuber}}冻结</p>
                    </div>
                </div>
            </div>
            <div class="info-line">
                <div class="item">
                    <div class="ico yellow">积分</div>
                    <div class="info-txt">
                        <h3 v-if="userInfo && userInfo.myFinance && userInfo.myFinance.ep !== ''">{{userInfo.myFinance.ep | formatNuber}}</h3>
                        <p v-if="userInfo && userInfo.myFinance && userInfo.myFinance.eP_Freeze !== ''">{{userInfo.myFinance.eP_Freeze | formatNuber}}冻结</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt10">
            <div class="bg-wihte">
                <div class="bd-title border-bottom">我的推广</div>
                <div class="bd-item border-bottom">
                    <div class="dt">日业绩</div>
                    <div class="dd" v-if="userInfo && userInfo.myPromotion && userInfo.myPromotion.dayPerformance !== ''">{{userInfo.myPromotion.dayPerformance | formatNuber}} QC</div>
                </div>
                <div class="bd-item border-bottom">
                    <div class="dt">总业绩</div>
                    <div class="dd" v-if="userInfo && userInfo.myPromotion && userInfo.myPromotion.totalPerformance !== ''">{{userInfo.myPromotion.totalPerformance | formatNuber}} QC</div>
                </div>
                <div class="bd-item border-bottom">
                    <div class="dt">团队人数</div>
                    <div class="dd" v-if="userInfo && userInfo.myPromotion && userInfo.myPromotion.teamSize !== ''">{{userInfo.myPromotion.teamSize}}</div>
                </div>
            </div>
        </div>
        <div class="mt10">
            <div class="bg-wihte">
                <div class="bd-title border-bottom">
                    <span>动态奖励</span>
                    <em v-if="userInfo && userInfo.myDynamicAward && userInfo.myDynamicAward.balance !== ''">收益余额：{{userInfo.myDynamicAward.balance | formatNuber}} <i @click="goPage('/profit')">提到总账</i></em>
                </div>
                <div class="bd-item border-bottom">
                    <div class="dt">推荐奖励</div>
                    <div class="dd" v-if="userInfo && userInfo.myDynamicAward && userInfo.myDynamicAward.zhiTui !== '' && userInfo.myDynamicAward.jianTui !== ''">{{userInfo.myDynamicAward.zhiTui | formatNuber}}(直推) / {{userInfo.myDynamicAward.jianTui | formatNuber}}(间推)</div>
                </div>
                <div class="bd-item border-bottom">
                    <div class="dt">见点奖励</div>
                    <div class="dd" v-if="userInfo && userInfo.myDynamicAward && userInfo.myDynamicAward.jianDian !== ''">{{userInfo.myDynamicAward.jianDian | formatNuber}} QC</div>
                </div>
                <div class="bd-item border-bottom">
                    <div class="dt">福利奖励</div>
                    <div class="dd">
                        <span v-if="userInfo && userInfo.myDynamicAward && userInfo.myDynamicAward.fuLi !== ''">{{userInfo.myDynamicAward.fuLi | formatNuber}} QC</span>
                        <!--<a href="#">立即兑换</a>-->
                    </div>
                </div>
                <div class="bd-item border-bottom">
                    <div class="dt">其他奖励</div>
                    <div class="dd" v-if="userInfo && userInfo.myDynamicAward && userInfo.myDynamicAward.other !== ''">{{userInfo.myDynamicAward.other | formatNuber}} QC</div>
                </div>
                <div class="bd-item border-bottom">
                    <div class="tips" v-if="userInfo && userInfo.needRebuy == 1">复投提醒：您需要复投，您的动态奖励已暂停，请联系团队长复投恢复。</div>
                </div>
            </div>
        </div>
        <div class="lable">
            <div class="line">
                <span class="green" @click="goPage('/team')">我的团队</span>
                <span class="green" @click="goPage('/teamrecord')">团队记录</span>
                <span class="green" v-if="userInfo.canTeamSale == 1" @click="goPage('/declaration')">团队报单</span>
            </div>
            <div class="line">
                <span class="l-green" @click="goPage('/runningwater')">流水记录</span>
                <span class="l-green" @click="goPage('/qccash')">QC提现</span>
                <span class="l-green" @click="goPage('/c2ccashe')">C2C交易</span>
            </div>
            <div class="line">
                <span class="blue">福利订单</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'withdrawal',
    data() {
        return {
            userInfo: '',
            phone: window.localStorage.getItem('phone')
        }
    },
    created() {
        this.getUserInfo()
    },
    methods: {
        getUserInfo() {
            let param = {
                Phone: this.phone
            }
            this.$post
                .getUserInfo(param)
                .then(res => {
                   if(res.errcode == 0){
                       this.userInfo = res.data
                   }
                })
                .catch(() => {})
        },
        goPage(url){
        	this.$router.push({
                path: url
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.app-content{
    .banner{
        height: 120px;
        background: #5eacd2;
        display: flex;
        align-items: center;
        .w100{
            width:100%;
        }
        .head{
            width: 70px;
            height: 70px;;
            border-radius: 100%;
            overflow: hidden;
            margin-left: 20px;
            background: url(../../assets/img/my.png) center center no-repeat;
            background-size: 60%;
            background-color: #262635;
        }
        img{
            width: 100%;
        }
        .name{
            flex: 1;
            text-align: left;
            color: #ffffff;
            padding-left: 20px;
            h4{
                font-size: 16px;
                line-height: 24px;
            }
            p{
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    .page-info{
        padding: 10px 10px 0 10px;
        background: #ffffff;
    }
    .info-line{
        display: flex;
        padding-bottom: 10px;
        justify-content: space-between;
        .item{
            flex:1;
            display: flex;
        }
        .ico{
            width: 60px;
            height: 60px; 
            text-align: center;
            line-height: 60px;
            color: #ffffff;
            border-radius: 50%;
            font-size: 20px;
        }
        .ico.red{
            background: #cc0033;
        }
        .ico.green{
            background: #009966;
        }
        .ico.yellow{
            background: #ff9900;
        }
        .info-txt{
            flex: 1;
            text-align: left;
            margin-left: 10px;
            h3{
                font-size: 20px;
                color: #ff1a1a;
                line-height: 30px;
                padding-top: 5px;
            }
            p{
                font-size: 14px;
                color: #666;
                line-height: 20px;
            }
        }
    }
    .mt10{
        margin-top: 10px;
    }
    .bd-title{
        font-size: 16px;
        text-align: left;
        padding: 15px 10px;
        display: flex;
        justify-content: space-between;
        em{
            font-size: 14px;
        }
        i{
            padding-left: 10px;
            color: #25a4bb;
        }
    }
    .bg-wihte{
        background: #ffffff;
    }
    .bd-item{
        display: flex;
        line-height: 40px;
        padding: 0 10px;
        .dt{
            width: 120px;
            font-size: 14px;
            text-align: left;
        }
        .dd{
            flex: 1;
            font-size: 14px;
            text-align: left;
            display: flex;
            justify-content: space-between;
        }
    }
    .lable{
        margin-top: 10px;
        background: #ffffff;
        padding: 10px 10px 10px 0;
        text-align: left;
        span{
            display: inline-block;
            border-radius: 3px;
            color: #ffffff;
            font-size: 14px;
            width: 100px;
            text-align: center;
            padding: 8px 0;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        span.green{
            background: #009999
        }
        span.l-green{
            background: #66cccc
        }
        span.blue{
            background: #3399ff
        }
    }
    .tips{
    	color: #FF0000;
    	font-size: 12px;
    	line-height: 20px;
    	text-align: left;
    	padding: 6px 0;
    }
}

</style>
